################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Entityframeworklearning/.vs/Entityframeworklearning/FileContentIndex/988b058b-8092-47f4-b487-2df9fee2fa32.vsidx
/Entityframeworklearning/.vs/Entityframeworklearning/FileContentIndex/b09ae0b4-889f-4a66-a444-7110db3843f7.vsidx
/Entityframeworklearning/.vs/Entityframeworklearning/FileContentIndex/f43200d4-b649-425f-99f9-021cc39b29bc.vsidx
